<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True"/>
    <add key="automatic" value="True"/>
  </packageRestore>

  <!--
  Used to specify the default Sources for list, install and update.
    See: nuget.exe help list
    See: nuget.exe help install
    See: nuget.exe help update
  -->
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <!-- <add key="MyRepo - ES" value="https://MyRepo/ES/nuget"/> -->
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
    <!-- <packageSource key="MyRepo - ES"> -->
    <!--     <package pattern="MyRepo.*"/> -->
    <!-- </packageSource> -->
  </packageSourceMapping>

  <bindingRedirects>
    <add key="skip" value="False"/>
  </bindingRedirects>

  <packageManagement>
    <add key="format" value="0"/>
    <add key="disabled" value="False"/>
  </packageManagement>

  <!-- <config> -->
  <!--     <add key="maxHttpRequestsPerSource" value="20"/> -->
  <!-- </config> -->
</configuration>
