[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[user]
name = Derek
email = dnellis3456@gmail.com
[core]
longpaths = true
autocrlf = input
ignorecase = false
editor = code-insiders --wait
[alias]
ec = config --global -e
hist = log --oneline --all --graph --decorate
co = checkout
bv = branch -vv
undo = reset HEAD~1 --mixed # reset to previous commit without losing current changes
amend = commit -a --amend   # amend current changes to last commit
#
# Functions in /dotfiles/bash/.bashrc.d/git.sh
b = "!git_b"
ac = "!git_ac"
acp = "!git_acp"
upbranch = "!git_upbranch"
cob = "!git_cob"
bdone = "!git_bdone"
